* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: geogia, selif;
  color: #fff;
  
}

 a {
   text-decoration: none;
   color: #000;
  
 }
ul {
  list-style-type: none;
  
}

ul a {
  color: black;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid blue;*/
  height: 6vh;
  padding-left: 10px;
  padding-right: 20px;
  

}

.left-nav {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
  
}

.right-nav {
  display: flex;
  justify-content: space-around;
  width: 15%;
  align-items: center;
  
}

.button {
  background-color: #417093;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 11px;
  font-weight: 700;
  border: 1px solid #000;
  
}

.button a {
  color: #fff;
 /* border-radius: 2px;*/
 /* padding: 10px 20px;*/
 /* font-size: 11px;
  font-weight: 700;*/
}

.center-text a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  /*background-color: blanchedalmond;*/
}

h1{
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 700;
  line-height:48px;
  text-align: left;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
 /*background-color: burlywood;*/
  /*float: center;*/
  width: 30%;
  /*margin: 0;
  padding: 0;*/
   
}

.wrapper-big-bang {
  display: flex;
  justify-content: center;
}

.big-bang {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 30%;
 /* border: 1px solid pink;*/

}

/*.gun {
  border: 1px solid orange;
}*/

.container {
  /*display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;*/
  overflow: hidden;
}

 /*.big-bang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  background-color: chartreuse;
}*/

.main-img {
  /*margin-left: 10rem;
  margin-right: 10rem;*/
  display: flex;
  justify-content: center;
  width: 100%;
  /*flex-flow: column wrap;*/
}

.main-img img {
  width: 1114px;
  height: 600px;
}

/*.wrap-inflation {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 2px solid brown;
  background-color: crimson;
}*/

.inflation-1 {
  width: 55%;
  /*border: 1px solid yellow;*/
  text-align: center;
  margin-left: 198px;
  color: gray;
}

.main-history {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dennis-icons {
  display: flex;
  width: 50%;
 /* border: 1px solid red;*/
  justify-content: space-between;
  height: 8vh;

}

.icons-media {
  display: flex;
  /*border: 1px solid green;*/
  width: 30%;
  justify-content: space-between;
  align-items: center;
  /*align-content: center;*/
  text-align: center;
}

.icons-media .icon {
  background-color: rgb(247, 243, 243);
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  /*align-self: center;*/
}

.writer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 /* border: 1px solid hotpink;*/
  color: rgba(70, 62, 62, 0.767);
}

.left-container {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-flow: column wrap;
  font-family:  arial, sans-serif;
  /*font-weight: 700;*/
  font-size: 16px;
  color: #333;
}

/*main article container*/
.main-container {
  display: flex;
  border: 1px solid red;
  width: 100%;
  justify-content: flex-end;
  /*flex-flow: row wrap;*/
  align-items: center;
}

/*aside bar section starts here*/
.aside-img {
  border: 1px solid purple;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  /*height: 100%;*/
  padding: 5px;
}

.aside-img img {
  width: 75px;
  height: 75px;
  border: 2px solid red;
 
}
.mtv-image {
  border: 1px solid pink;
  display: flex;
  width: 40%;
  font-size: 14px;
}

/*.thank-you {
  border: 1px solid brown;
  width: 30%;
  
}*/

/*.left-container {

}*/